<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>15928180554-2k36h3na8cqmf9fdrcqqa6686g0cb6bq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.15928180554-2k36h3na8cqmf9fdrcqqa6686g0cb6bq</string>
	<key>API_KEY</key>
	<string>AIzaSyBOm4fzY75hDxVztvwGC3EZdtQktCjFvEc</string>
	<key>GCM_SENDER_ID</key>
	<string>15928180554</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-cb906</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-cb906.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:15928180554:ios:7537c147d0a407efa4cbb3</string>
</dict>
</plist>